<%= form_with(url: url, method: :get, data: { controller: "search date-validation" }) do |form| %>
  <div class="input-group mb-3">
    <%= form.hidden_field :search_scope, value: search_scope %>
    <%= form.search_field :query, value: query, class: "form-control", placeholder: "Search #{search_scope.to_s.pluralize.humanize.downcase}..." %>
    <button class="btn btn-primary" type="submit" data-date-validation-target="submit">Search</button>
  </div>

  <% if search_scope == :event %>
    <div class="row g-2">
      <div class="col-6">
        <%= form.label :start_date, "Start", class: "form-label ps-1" %>
        <%= form.date_field :start_date, value: params[:start_date], class: "form-control form-control-sm", data: { date_validation_target: "startDate", action: "change->date-validation#validate" } %>
      </div>
      <div class="col-6">
        <%= form.label :end_date, "End", class: "form-label" %>
        <%= form.date_field :end_date, value: params[:end_date], class: "form-control form-control-sm", data: { date_validation_target: "endDate", action: "change->date-validation#validate" } %>
        <div class="invalid-feedback">
          End date cannot be before start date.
        </div>
      </div>
    </div>
  <% end %>
<% end %>
