<% content_for :title, @post.title %>
<% content_for :meta_description, @post.summary %>

<%# Breadcrumb Navigation %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to "Memos", posts_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @post.title %></li>
  </ol>
</nav>

<%= render partial: @post.post_type, locals: { post: @post } %>

<div class="mt-4 d-flex justify-content-between">
  <%= link_to "â† Back to All Memos", posts_path, class: "btn btn-outline-primary" %>
  <div>
    <button data-action="click->memo-downloader#downloadPdf" class="btn btn-outline-primary">
      <i class="bi bi-file-earmark-arrow-down"></i> Download as PDF
    </button>
    <button data-action="click->memo-downloader#downloadJpg" class="btn btn-outline-secondary">
      <i class="bi bi-image"></i> Download as JPG
    </button>
  </div>
</div>
