<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fupre Info Portal" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : 'FUPRE Info Portal provides the latest news, events, and announcements from the Federal University of Petroleum Resources, Effurun.' %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" type="image/png" href="/icon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="manifest" href="/manifest.json">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "print", media: "print" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <%= render 'shared/navigation' %>
    <%= render 'shared/search_modal' %>

    <main class="container-fluid my-4 main-container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </main>

    <footer class="footer border-top text-center text-muted py-3">
      <div class="container">
        &copy; <%= Time.now.year %> Federal University of Petroleum Resources, Effurun.
      </div>
    </footer>
  </body>
</html>
